<p>Welcome to GameRoom show</p>

<div id="board-container">

  <div class="board">
  <div class="board-row">
    <div id="00" class="board-cell red"></div>
    <div id="01" class="board-cell black"></div>
    <div id="02" class="board-cell red"></div>
    <div id="03" class="board-cell black"></div>

    <div id="04" class="board-cell red"></div>
    <div id="05" class="board-cell black"></div>
    <div id="06" class="board-cell red"></div>
    <div id="07" class="board-cell black"></div>
  </div>

  <div class="board-row">
    <div id="10" class="board-cell black"></div>
    <div id="11" class="board-cell red"></div>
    <div id="12" class="board-cell black"></div>
    <div id="13" class="board-cell red"></div>

    <div id="14" class="board-cell black"></div>
    <div id="15" class="board-cell red"></div>
    <div id="16" class="board-cell black"></div>
    <div id="17" class="board-cell red"></div>
  </div>

  <div class="board-row">
    <div id="" class="board-cell red">1</div>
    <div id="" class="board-cell black">2</div>
    <div id="" class="board-cell red">3</div>
    <div id="" class="board-cell black">4</div>

    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
  </div>

  <div class="board-row">
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>

    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
  </div>

  <div class="board-row">
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>

    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
  </div>

  <div class="board-row">
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>

    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
  </div>

  <div class="board-row">
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>

    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
  </div>

  <div class="board-row">
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>

    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
    <div id="" class="board-cell black"></div>
    <div id="" class="board-cell red"></div>
  </div>
  </div>
</div>
