<p>Welcome to GameRoom</p>

<div id="board-container">
  <div class="game-menu">
    <h2>Welcome to BAW5E Checkers!</h2>
    <form id="player_names">
      <input type="text" name="player1" placeholder="Player 1, enter name here..."><br />
      <input type="text" name="player2" placeholder="Player 2, enter name here..."><br />
      <input type="submit" value="Start Game">
    </form>
  </div>


  <div class="board">
  <div class="board-row">
    <div id="00" class="board-cell red">
      <div class='piece black' id="B1"></div>
    </div>
    <div id="01" class="board-cell black"></div>
    <div id="02" class="board-cell red">
      <div class='piece black' id="B2"></div>
    </div>
    <div id="03" class="board-cell black"></div>

    <div id="04" class="board-cell red">
      <div class='piece black' id="B3"></div>
    </div>
    <div id="05" class="board-cell black"></div>
    <div id="06" class="board-cell red">
      <div class='piece black' id="B4"></div>
    </div>
    <div id="07" class="board-cell black"></div>
  </div>

  <div class="board-row">
    <div id="10" class="board-cell black"></div>
    <div id="11" class="board-cell red">
      <div class='piece black' id="B5"></div>
    </div>
    <div id="12" class="board-cell black"></div>
    <div id="13" class="board-cell red">
      <div class='piece black' id="B6"></div>
    </div>

    <div id="14" class="board-cell black"></div>
    <div id="15" class="board-cell red">
      <div class='piece black' id="B7"></div>
    </div>
    <div id="16" class="board-cell black"></div>
    <div id="17" class="board-cell red">
      <div class='piece black' id="B8"></div>
    </div>
  </div>

  <div class="board-row">
    <div id="20" class="board-cell red">
      <div class='piece black' id="B9"></div>
    </div>
    <div id="21" class="board-cell black"></div>
    <div id="22" class="board-cell red">
      <div class='piece black' id="B10"></div>
    </div>
    <div id="23" class="board-cell black"></div>

    <div id="24" class="board-cell red">
      <div class='piece black' id="B11"></div>
    </div>
    <div id="25" class="board-cell black"></div>
    <div id="26" class="board-cell red">
      <div class='piece black' id="B12"></div>
    </div>
    <div id="27" class="board-cell black"></div>
  </div>

  <div class="board-row">
    <div id="30" class="board-cell black"></div>
    <div id="31" class="board-cell red"></div>
    <div id="32" class="board-cell black"></div>
    <div id="33" class="board-cell red"></div>

    <div id="34" class="board-cell black"></div>
    <div id="35" class="board-cell red"></div>
    <div id="36" class="board-cell black"></div>
    <div id="37" class="board-cell red"></div>
  </div>

  <div class="board-row">
    <div id="40" class="board-cell red"></div>
    <div id="41" class="board-cell black"></div>
    <div id="42" class="board-cell red"></div>
    <div id="43" class="board-cell black"></div>

    <div id="44" class="board-cell red"></div>
    <div id="45" class="board-cell black"></div>
    <div id="46" class="board-cell red"></div>
    <div id="47" class="board-cell black"></div>
  </div>

  <div class="board-row">
    <div id="50" class="board-cell black"></div>
    <div id="51" class="board-cell red">
      <div class='piece red' id="R12"></div>
    </div>
    <div id="52" class="board-cell black"></div>
    <div id="53" class="board-cell red">
      <div class='piece red' id="R11"></div>
    </div>

    <div id="54" class="board-cell black"></div>
    <div id="55" class="board-cell red">
      <div class='piece red' id="R10"></div>
    </div>
    <div id="56" class="board-cell black"></div>
    <div id="57" class="board-cell red">
      <div class='piece red' id="R9"></div>
    </div>
  </div>

  <div class="board-row">
    <div id="60" class="board-cell red">
      <div class='piece red' id="R8"></div>
    </div>
    <div id="61" class="board-cell black"></div>
    <div id="62" class="board-cell red">
      <div class='piece red' id="R7"></div>
    </div>
    <div id="63" class="board-cell black"></div>

    <div id="64" class="board-cell red">
      <div class='piece red' id="R6"></div>
    </div>
    <div id="65" class="board-cell black"></div>
    <div id="66" class="board-cell red">
      <div class='piece red' id="R5"></div>
    </div>
    <div id="67" class="board-cell black"></div>
  </div>

  <div class="board-row">
    <div id="70" class="board-cell black"></div>
    <div id="71" class="board-cell red">
      <div class='piece red' id="R4"></div>
    </div>
    <div id="72" class="board-cell black"></div>
    <div id="73" class="board-cell red">
      <div class='piece red' id="R3"></div>
    </div>

    <div id="74" class="board-cell black"></div>
    <div id="75" class="board-cell red">
      <div class='piece red' id="R2"></div>
    </div>
    <div id="76" class="board-cell black"></div>
    <div id="77" class="board-cell red">
      <div class='piece red' id="R1"></div>
    </div>
  </div>
  </div>



</div>
