<div class='mycontainer'>
  <%= image_tag("boss_cat.jpeg", class: "col-xs-6 col-md-3 thumbnail") %>
  <p>
    <h2>Profile Page</h2>
  </p>
  <h3>Name: <%= @user.name %></h3>
  <p>Email: <%= @user.email %></p>
  <br><br><br>    
</div>