/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#board-container {
  width: 1200px;
  height: 850px;
  background-color: lightgray;
  margin: 0 auto;
}

.game-menu {
  position: fixed;
  width: 300px;
  z-index: 3;
  background-color: red;
  border-radius: 3px
}

.piece {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 5px solid white;
  z-index: 30;
  margin: 15px auto;
  box-shadow: 5px 5px 5px black;
}

.board {
  position: relative;
  /*width: 95%;*/
  margin: 0 auto;
  float: right;
  padding-right: 0px;
/*  left: 45.0px;
  top: 15px;*/
}

.board-row {
  position: relative;
}

.board-cell {
  width: 100px;
  height: 100px;
  float: left;

  margin: 1px 1px 1px 1px;
}

.red {
background-color: red;

}

.black {
  background-color: black;
}

