








<!-- <div id="container">
	<form action="/" method>
		<input type="text" name="user[email]" placeholder="Email">
		<input type="text" name="user[password]" placeholder="Password">
		<input type="submit" value="Login" >
	</form>


<form action="" >
	<input type="text" name="user[name]" placeholder="Name">
	<input type="text" name="user[email]" placeholder="Email">
	<input type="text" name="user[password]" placeholder="Password">
	<input type="text" name="user[password_confirmation]" placeholder="Confirm password">
	
	<input type="submit" value="Sign Up">
</form>



</div> -->


